capkpi/public/js/lib/*
capkpi/public/js/capkpi/misc/tests/*
capkpi/public/js/capkpi/views/test_runner.js
capkpi/core/doctype/doctype/boilerplate/*
capkpi/core/doctype/report/boilerplate/*
capkpi/public/js/capkpi/class.js
capkpi/templates/includes/*
capkpi/www/website_script.js
